*{margin: 0; padding: 0; border: 0; outline: none;}

body{ font-family: 'Heebo', sans-serif; font-size: 16px; line-height:21px; color: #000000; font-weight: bold}
.container{margin: auto;
    width: auto;
    border: 3px; color: #ccc;
    padding: 10px; width:1330px; }

h2{font-family: 'Heebo', sans-serif; font-size: 16px; line-height:21px;color: #ffffff; font-weight: bold; margin-bottom: 26px}
.pull-left{float: left; }
.pull-right{float: right; right: 40px;}
.clearfix{clear:both;}
.text-center{text-align: center;}



.parallax {
    /* The image used */
    background-image: url("images/banner_image2");
	margin:0;
	width:100%;

    /* Set a specific height */
    min-height: 1500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.btn-blue{ padding: 15px 15px; background-color:#7384c1; color: #fff; font-family: 'Heebo', sans-serif; font-size: 16px; 
display: inline-block;	text-decoration: none; border-radius: 4px; border: none;	text-align: center;	width: 150px; 
transition: all 0.5s;	cursor: pointer; top: 250px; margin: 5px;}

.btn-blue span { cursor: pointer; display: inline-block; position: relative; transition: 0.5s;}

.btn-blue span:after { content: '\00bb'; position: absolute; opacity: 0; top: 0; right: -20px; transition: 0.5s;}

.btn-blue:hover span { padding-right: 15px;}

.btn-blue:hover span:after { opacity: 1; right: 0;}

.btn-blue { box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

.float-vertical-align {
  vertical-align: middle;
  line-height: 20px;
 }

.column{float:left;}
.form-group{margin-bottom: 10px}
.bg-light-blue{background-color: #7384c1}

header ul{list-style: none;}
header li, header a{display: inline-block;}
header li{padding: 12px 22px;}
header a{color: #222; text-decoration: none;}

.side-info li{border-bottom: 1px solid #ccc}


.side-menu{border-bottom: 1px solid #ccc}
.side-menu li{border-left: 0px solid #ccc }
.side-menu li{border-right: 1px  solid #ccc }
.about-us{border-right: 1px; solid #ccc}
.side-menu{padding: 1px; font-size: 23px;  font-weight: bold;}



section{padding: 20px 0 30px}
.middle .column{width: 360px; margin:30px}
.middle h1{margin-bottom: 15px;}
.middle img{margin-bottom: 15px;}
.why-coimbatore{max-width: 700px; margin: 0 auto; margin-bottom: 30px; font-family: 'Heebo', sans-serif; font-size: 16px;}

.contact .outer-row.column{width: 630px; margin-right:10px; padding: 10px;}
.outer-row .row .column{width: 270px; margin-right: 15px; padding: 15px;}
.contact input, .contact textarea{width:100%; padding: 12px 15px; box-sizing: border-box; background-color: #7384c1; 
font-family: 'Heebo', sans-serif; font-size: 16px;color: #fff}
.contact {border-bottom: 2px solid #ccc; padding: 10px;}
.image { position: relative;}
h1{font-family: 'Heebo', sans-serif; font-size: 20px; line-height:15px; color: #000000; 
 font-weight: bold; margin-bottom: 5px;}
h2 {
   position: absolute; top: 1680px; right: 75px; left: 0; width: 100%; margin: 0 auto; width: 600px; height: 50px;
}

h3 {
   position: absolute; font-family: 'Heebo', sans-serif; font-size: 30px; color: #fff; top: 1630px; right: 75px; left: 0; width: 100%;
   margin: 0 auto; width: 600px; height: 50px;
}
.banner-heading0{
  position: absolute; font-family: 'Heebo', sans-serif; font-size: 60px; color: #ae6e8d; top: 50px; right: 575px; left: 30; width: 100%;
   margin: 0 auto; width: 600px; height: 50px;
}
.banner-heading2{
  position: absolute; font-family: 'Heebo', sans-serif; font-size: 60px; color: #3F6826; top: 50px; right: 575px; left: 30; width: 100%;
   margin: 0 auto; width: 600px; height: 50px;
}
.banner-heading1{
  position: absolute; font-family: 'Heebo', sans-serif; font-style: oblique; font-size: 30px; color: #b41259; top: 100px; right: 290px; left: 20px; width: 100%;
   margin: 0 auto; width: 600px; height: 50px;
}
.banner-heading3{
  position: absolute; font-family: 'Heebo', sans-serif; font-style: oblique; font-size: 30px; color: #2F4F4F; top: 100px; right: 290px; left: 20px; width: 100%;
   margin: 0 auto; width: 600px; height: 50px;
}
h6 {
    position: absolute; top: 1420px; right: 75px; left: 280; color: #000; width: 100%; margin: 0 auto; width: 600px; height: 50px;
}

.contact-us{
   text-align: center; position: relative; font-family: 'Heebo', sans-serif; font-size: 30px; line-height:21px; 
   color: #000000; font-weight: bold; margin-bottom: 45px
}

.paragraph{
  line-height: 150%;
  padding-bottom: 25px;
}
.content-heading {
    position: absolute; font-family: 'Heebo', sans-serif; font-size: 30px; color: #fff; top: 760px; right: 75px; left: 0; width: 100%;
   margin: 0 auto; width: 900px; height: 20px;
}
.content-heading5{
    position: absolute; font-family: 'Heebo', sans-serif; font-size: 25px; color: #fff; top: 380px; right: 75px; left: 0; width: 100%;
   margin: 0 auto; width: 900px; height: 20px;
}
.content-heading6{
    position: absolute; font-family: 'Heebo', sans-serif; font-size: 23px; color: #fff; top: 30px; right: 75px; left: 0; width: 100%;
   margin: 0 auto; width: 900px; height: 20px;
}
.content {
  position: absolute; font-family: 'Heebo', sans-serif; font-size: 14px; color: #fff; top: 50px; right: 15px; left: 0; width: 100%;
   margin: 0 auto; width: 900px; height: 5px; line-height: .5
}
.content-heading1 {
    position: absolute; font-family: 'Heebo', sans-serif; font-size: 30px; color: #fff; top: 190px; right: 75px; left: 0; width: 100%;
   margin: 0 auto; width: 900px; height: 20px;
}
.content-heading2 {
  position: absolute; font-family: 'Heebo', sans-serif; font-size: 30px; color: #fff; top: 380px; right: 15px; left: 0; width: 100%;
   margin: 0 auto; width: 900px; height: 5px; line-height: .5
}
.content-heading3 {
    position: absolute; font-family: 'Heebo', sans-serif; font-size: 14px; color: #fff; top: 50px; right: 75px; left: 0; width: 100%;
   margin: 0 auto; width: 900px; height: 20px;
}
.text1 {
   position: absolute; font-family: 'Heebo', sans-serif; font-size: 30px; line-height:21px; color: #000000; font-weight: bold; margin-bottom: 45px
}



